*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    background-color: bisque;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
}
main{
    width: 100%;
    height: 100%;
    
}

.container{
    width: 90%;
    margin: auto;
        .movie-list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
                .card{
                    width: calc((100% / 5) - 10px);
                    border: 1px solid black;
                    background-color: aliceblue;
                    border-radius: 10px;
                    text-align: center;
                    margin: 5px;
                    padding: 20px;
                    line-height: 50px;
                    font-size: 22px;
                    h2{
                        color: crimson;
                        border-bottom: 1px solid black;
                    }
                }
        }
}



